/* AuthFormStyling.css */
.auth-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(216, 231, 231);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .auth-form h2 {
    text-align: center;
  }
  
  .auth-form form {
    margin-top: 20px;
  }
  
  .auth-form .field {
    margin-bottom: 10px;
  }
  
  .auth-toggle {
    text-align: center;
    cursor: pointer;
    color: #5c5c5c;
  }
  
  .mainfield{
    background-image: url(../images/pexels-shvets.jpg);
    background-size: cover;
    background-position: center 30%;
    height: 800px;
  }

  .error-message{
    text-align: center;
    color: rgb(231, 45, 12);
    transition: color 3s;
    font-size: larger;
    margin-top: 40px;
  }

  

